/public/wp

/vendor

wp-config-*.php
!wp-config-sample.php

!public/wp-content/themes
public/wp-content/themes/*
!public/wp-content/themes/custom-theme

!public/wp-content/plugins
public/wp-content/plugins/*
!public/wp-content/plugins/custom-plugin

public/wp-content/uploads/*
!public/wp-content/uploads/.htaccess

!public/wp-content/languages
public/wp-content/languages/*
